#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.form {  
  gap: 2ch;
  align-items: center;
}

.icon {
  width: 4ch;
  height: auto;
  padding: 2rem 0rem 0rem 1rem ;
}

.icon {
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.1); /* Ajusta el valor según tus preferencias */
  filter: brightness(1.2); /* Ajusta el valor según tus preferencias */
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #f0f0f0; /* Color de fondo */
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-bottom: 15px; /* Espacio entre las tareas */
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.task-container:hover {
  background-color: #e0e0e0; /* Cambia el color de fondo al pasar el cursor */
}

.check {
  align-items: center;
  justify-content: center;  
}

  